# Ambiente
.env
*.log

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Conda
.conda/
.env/

# Dados brutos (não versionar)
data/raw/*
!data/raw/.gitkeep

# Dados intermediários
data/interim/*
!data/interim/.gitkeep

# Processados – ignorar tudo, exceto arquivos necessários para o dashboard
data/processed/*
!data/processed/*.parquet
!data/processed/.gitkeep
